body, html {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
table {
	border-spacing: 0;
}


/**
 * Default app styling.
 */
#app{
	height: 100%;
	width: 75%;
	/**
 	 * Header styling.
 	 */
	.header {
		display: inline-table;
		max-height: 3em;
		padding: 0 0 1em;
		width: 100%;
		.navigation {
			display: table-cell;
			font-size: 0.8em;
			list-style: none;
			padding: 0 0 0 20em;
			vertical-align: middle;
			li {
				padding: 0 1.5em;
				display: table-cell;
				p {
					background-color:#189e74;
					border-radius: 2em;
					color: #ffffff;
					display: inline;
					padding: 0.1em 0.5em;
				}
			}
			li.notify {
				color: #189e74;
			}
			li.selected {
				border-radius: 2em;
				border: 2px solid #189e74;
				color: #189e74;
				padding: 0.5em;
			}
		}
		.vulcun {
			display: inline-table;
			padding: 0 0 0 1em;
			width:5em;
			img {
				height: 2.5em;
				width: 2.5em;
			}
			p {
				display:table-cell;
				font-size: 1.5em;
				margin:0;
				padding: 0 0 0 0.6em;
				vertical-align: middle;
			}
		}
	}
	.games {
		background-color: #f7f7f7;
		display: inline-table;
		font-size: 0.8em;
		width: 100%;
		ul {
			margin: 0 0 0 0.5em;
			padding: 0;
			li {
				color: #919191;
				display: table-cell;
				list-style: none;
				padding: 1em 1em;			
				vertical-align: middle;
			}
			li.selected {
				background-color: #394141;
				color: #189e74;
				height: 100%;
			}
		}
		p {
			color: #1fca95;
			display: table-cell;
			margin: 0;
			padding: 0 1em;
			text-align: right;
			vertical-align: middle;
		}
	}
	.price {
		background-color: #394141;
		display: inline-table;
		width: 100%;
		ul {
			float: right;
			margin: 0 0 0 0.5em;
			padding: 0.5em 1em;
			li {
				color: #919191;
				display: table-cell;		
				font-size: 0.8em;
				list-style: none;
				padding: 0 1.5em;
				vertical-align: middle;
			}
			.selected {
				background-color: #189e74;
				border-radius: 2em;
				color: #ffffff;
				padding: 0.5em 2em;
			}
		}
	}
	.content {
		#contests {
			width: 100%;
			th {
				color: #919191;
				font-size: 0.8em;
				font-weight: 400;
				padding: 0.5em;
				text-align: left;
			}
			tr {
				border-bottom: 1em solid #919191;
				font-size: 0.9em;
				font-weight: 700;
				padding: 1em 0.5em;
				text-align: left;
			}
			.row {
				height:5em;
			}
			.highlighted {
				background-color: #E8FBF5;
			}
			.enter {
				background-color: #189E74;
			  	background-color: #189E74;
			  	border-radius: 3em;
			  	color: #ffffff;
			  	margin: auto;
			  	padding: 0.8em 0;
			  	text-align: center;
			  	width: 80%;
			}
		}
	}
}
#chat {
	border: 2px solid red;
}