body, html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

table {
  border-spacing: 0; }

/**
 * Default app styling.
 */
#app {
  height: 100%;
  width: 75%;
  	/**
   	 * Header styling.
   	 */ }
  #app .header {
    display: inline-table;
    max-height: 3em;
    padding: 0 0 1em;
    width: 100%; }
    #app .header .navigation {
      display: table-cell;
      font-size: 0.8em;
      list-style: none;
      padding: 0 0 0 20em;
      vertical-align: middle; }
      #app .header .navigation li {
        padding: 0 1.5em;
        display: table-cell; }
        #app .header .navigation li p {
          background-color: #189e74;
          border-radius: 2em;
          color: #ffffff;
          display: inline;
          padding: 0.1em 0.5em; }
      #app .header .navigation li.notify {
        color: #189e74; }
      #app .header .navigation li.selected {
        border-radius: 2em;
        border: 2px solid #189e74;
        color: #189e74;
        padding: 0.5em; }
    #app .header .vulcun {
      display: inline-table;
      padding: 0 0 0 1em;
      width: 5em; }
      #app .header .vulcun img {
        height: 2.5em;
        width: 2.5em; }
      #app .header .vulcun p {
        display: table-cell;
        font-size: 1.5em;
        margin: 0;
        padding: 0 0 0 0.6em;
        vertical-align: middle; }
  #app .games {
    background-color: #f7f7f7;
    display: inline-table;
    font-size: 0.8em;
    width: 100%; }
    #app .games ul {
      margin: 0 0 0 0.5em;
      padding: 0; }
      #app .games ul li {
        color: #919191;
        display: table-cell;
        list-style: none;
        padding: 1em 1em;
        vertical-align: middle; }
      #app .games ul li.selected {
        background-color: #394141;
        color: #189e74;
        height: 100%; }
    #app .games p {
      color: #1fca95;
      display: table-cell;
      margin: 0;
      padding: 0 1em;
      text-align: right;
      vertical-align: middle; }
  #app .price {
    background-color: #394141;
    display: inline-table;
    width: 100%; }
    #app .price ul {
      float: right;
      margin: 0 0 0 0.5em;
      padding: 0.5em 1em; }
      #app .price ul li {
        color: #919191;
        display: table-cell;
        font-size: 0.8em;
        list-style: none;
        padding: 0 1.5em;
        vertical-align: middle; }
      #app .price ul .selected {
        background-color: #189e74;
        border-radius: 2em;
        color: #ffffff;
        padding: 0.5em 2em; }
  #app .content #contests {
    width: 100%; }
    #app .content #contests th {
      color: #919191;
      font-size: 0.8em;
      font-weight: 400;
      padding: 0.5em;
      text-align: left; }
    #app .content #contests tr {
      border-bottom: 1em solid #919191;
      font-size: 0.9em;
      font-weight: 700;
      padding: 1em 0.5em;
      text-align: left; }
    #app .content #contests .row {
      height: 5em; }
    #app .content #contests .highlighted {
      background-color: #E8FBF5; }
    #app .content #contests .enter {
      background-color: #189E74;
      background-color: #189E74;
      border-radius: 3em;
      color: #ffffff;
      margin: auto;
      padding: 0.8em 0;
      text-align: center;
      width: 80%; }

#chat {
  border: 2px solid red; }

/*# sourceMappingURL=main.css.map */
